---
import Layout from "../layouts/Layout.astro";
---

<Layout title="index">
  <main>
    <h1>index</h1>
    <ul>
      <li><a href="/">index</a></li>
      <li><a href="/page01/">page01</a></li>
      <li><a href="/page02/">page02</a></li>
      <li><a href="/page03/">page03</a></li>
    </ul>
  </main>
</Layout>

<style></style>
